h3 {
  color: $white;
}
.title h3 {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 $text-shadow;
  &:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 60px;
    background: $px-theme;
    height: 1px;
  }
  &:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    bottom: -7px;
    left: 56px;
    right: 0;
    z-index: -1;
    background: #2fbf71;
  }
}
.media {
  display: flex;
  align-items: flex-start;
  //test {
  //  font-size: 50px;
  //  line-height: 1;
  //  color: #fff;
  //  font-weight: 700;
  //  min-width: 55px;
  //  text-shadow: 2px 2px 0 $text-shadow;
  //}
  .count {
    font-size: 50px;
    line-height: 1;
    color: #fff;
    font-weight: 700;
    min-width: 55px;
    text-shadow: 2px 2px 0 $text-shadow;
  }
  .media-body {
    flex: 1;
    line-height: 1.4rem;
  }
}
.btn-bar {
  padding-top: 35px;
}

.px-btn + .px-btn {
    margin-left: 22px;
}