.contact-info {
    background: $px-dark;
    padding: 30px;
    li {
        font-size: 1.25em;
        font-weight: 500;
        color: $white;
        line-height: 1.3;
        position: relative;
        padding-top: 20px;
        a {
            text-decoration: none;
            color: $white;
        }
        .theme {
            padding-bottom: -4px;
            color: $px-theme;
        }
    }
    @include down-md {
        margin-bottom: 20px;
    }
}

.contact-form {
    background: $px-dark;
    padding: 30px;
    h4 {
        font-weight: 500;
        color: #fff;
        font-size: 22px;
        margin-bottom: 20px;
        }
    @include down-md {
        margin-bottom: 20px;
    }
}

.contact-form .form-control {
    color: #fff;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: none;
    font-size: 14px;
    height: calc(2em + 0.75rem + 2px);
    &::placeholder {
        color:gray;
    }
}
