@import "media_mixin";
@import "variables";

.header-left {
  width: 250px;
  position: fixed;
  bottom: 0;
  top: 0;
  background: #333342;
  transition: .3s ease-in-out;
  .scroll-bar {
    height: calc(100% - 50px);
  }
  .hl-top {
    text-align: center;
    position: relative;
    padding: 65px 25px 25px;
    img {
      width: 100px;
      height: 100px;
      border: 3px solid $px-theme;
      border-radius: 50%;
      box-shadow:  2px 1px 0 $text-shadow;
    }
    &:after {
      content: "";
      position: absolute;
      top: -180px;
      left: -50px;
      right: 0;
      bottom: 0;
      z-index: -1;
      border-radius: 0 0 50% 50%;
      width: 310px;
      height: 310px;
      background: $px-theme;
      box-shadow:  2px 1px 4px $text-shadow;
    }
  }
  @include _1201{
    transition: ease all 0.35s;
    left: 0;
    z-index: 222;
  }
  @include down-lg {
    left:  -300px;
    z-index: 22;
  }
}

.header-left {
  @include down-lg {
    &.menu-open {
      left: 0;
    }
  }
}