@import 'variables';
@import "media_mixin";

.home-banner {
  overflow: hidden;
  position: relative;
  .full-screen {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .type-box {
    padding-top: 40px;
    padding-bottom: 40px;
    .lead {
      font-size: 16px;
      height: 52px;
      font-weight: 500;
    }
    .description {
      font-weight: 500;
    }
  }

  .typed-cursor {
    content: '|';
    animation: blink 1s infinite;
  }
  .font-alt {
    font-family: $font-alt;
    text-shadow: 2px 2px 0 #ec0569;
    h1 {
      color: $white;
      font-weight: 700 !important;
      line-height: 1;
      margin: 0 0 20px;
      }
    }
  &::after {
    content: "";
    position: absolute;
    right: -20vh;
    top: -20vh;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    background: #0b0b13;
    z-index: -1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}