@import 'variables';
@import "media_mixin";


@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .container {
    width: 950px;
  }
}
h5 {
  color: $white;
}

.home-banner {
  overflow: hidden;
  position: relative;
  .container {
    position: relative;
    z-index: 1;
  }

  .full-screen {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .type-box {
    padding-top: 40px;
    padding-bottom: 40px;

    .lead {
      font-size: 1rem;
      font-weight: 500;
      height: 34px;
      color: $white;
    }

    .description {
      font-weight: 400;
    }
  }

  .typed-cursor {
    content: '|';
    animation: blink 1s infinite;
  }
  .font-alt {
    font-family: $font-alt;
    text-shadow: 2px 2px 0 $text-shadow;
    color: $white;
    h1 {
      font-weight: 700 !important;
      line-height: 1;
      margin: 0 0 20px;

      font-size: 2.1rem;
      }
    }
  &::after {
    content: "";
    position: absolute;

    right: -20vh;
    top: -20vh;

    width: 100vh;
    height: 100vh;

    border-radius: 50%;
    background: $px-dark;
  }
}



@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}