@import "media_mixin";

.main {
    @include up-lg {
        left: 250px;
        position: absolute;
        height: 100%;
        width: calc(100% - 250px);
    }
    img {
        max-width: 100%;
        border-radius: 16px;
        transition: .8s ease-in-out;
        box-shadow: 3px 3px 2px #ec0569;
        border: 3px solid $px-theme;
        @include  up-md {
            border-radius: 50%;
        }
    }
}

