@import 'variables';

.mob-header {
  padding: 15px;
  // display: none;
  position: sticky;
  top: 0;
  z-index: 11;
  background: $px-bg-1;
  .logo-text{
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    line-height: 1;
    text-decoration: none;
  }
}