.mob-header {
  padding: 15px;
  // display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  background: #10101a;
  //font-weight: bold;
  .logo-text{
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    line-height: 1;
    text-decoration: none;
  }
}

.toggler-menu {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0;
  border-radius: 0;
  padding: 0;
  margin-left: 15px;
  background: #2fbf71;
  border: none;
  margin-left: auto;
  span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 2px;
    margin: auto;
    box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
    background: #fff;
    color: #fff;
  }
}