.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}




.nav-menu {
  li {
    transition: .3s ease-in-out;
    padding: 6px 8px;

    // padding-left: 27px;
    // position: relative;
    // color: rgba(255, 255, 255, 0.8);
    // letter-spacing: 2px;
    // cursor: pointer;
    // transition: 0.3s ease-in-out all;
    // font-weight: 600;
    border-top: 1px solid rgba(255, 255, 255, 0.03);


    .link {
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: $white;
      font-weight: 500;
      font-size: 14px;
      transition: .3s ease-in-out;
      &:hover {
        color: $px-theme;
        //font-weight: 500;
        scale: (105%);
        //text-shadow: 2px 1px 1px $text-shadow;
      }
    }
    a.active {
        color: $px-theme;
        //font-weight: 500;
        scale: (105%);
        //text-shadow: 2px 1px 1px $text-shadow;
    }
  }
}
