.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}




.nav-menu {
  //padding-top: 45px;
  //padding-bottom: 45px;
  li {
    transition: .3s ease-in-out;
    padding: 12px 8px;
    .link {
      margin-right: 10px;
    }
    &:hover {
      color: $px-theme;
      text-shadow: 2px 1px 1px $text-shadow;
    }
    a {
      text-decoration: none;
      color: $white;
      font-weight: 400;
    }
  }
}

