@import "variables";

/**--------------------------PORTFOLIO------------------------*/
.portfolio {
  &-info {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
    z-index: 1;
    background: $px-bg-1;
    right: 20px;
    text-align: center;
    opacity: 0;
    transition: ease all .35s;
  }

  &-filter {
    padding-top: 15px;
    padding-bottom: 15px;

    li {
      cursor: pointer;
      margin: 0 15px;
      color: $white;
      position: relative;
      padding: 5px 0;
      font-size: 13px;
      text-transform: uppercase;
      line-height: normal;
      letter-spacing: 2px;

      &:first-child {
        margin-left: 0;
      }
    }

    &__nav {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      .pointer {
        &:after {
          content: "";
          width: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          height: 2px;
          background: $px-theme;
          position: absolute;
          -moz-transition: ease all 0.55s;
          -o-transition: ease all 0.55s;
          -webkit-transition: ease all 0.55s;
          transition: ease all 0.55s;
        }

        &.active {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
  &-content {
    position: relative;
    height: 1100px;
    @include down-md {
      height: 1500px;
    }
    @include down-xsm {
      height: 2900px;
    }
  }
  &-box{
    background: $white;
    position: relative;
    &:hover {
      .portfolio-info {
        opacity: 1;
      }
      .portfolio-icon {
        opacity: 1;
      }
    }
  }
  &-image {
    img {
      max-width: 100%;
    }
    .portfolio-icon {
      position: absolute;
      bottom: 20px;
      right: 20px;
      opacity: 0;
      transition: ease all 0.35s;
      a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: $white;
        display: inline-block;
        vertical-align: top;
        background: $px-theme;
        font-size: 24px;
        text-align: center;
      }
    }
  }
}

.portfolio-item{
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px;
    width: 33.333333%;
    transition: ease-in-out .5s;
  //@include up-md {
  //  width: 50%;
  //}
  }

/**PORTFOLIO ITEMS POSITION*/

.portfolio-item:nth-child(1) {
  top: 0;
  left: 0;
  @include down-md {
    width: 50%;
  }
  @include down-xsm {
    width: 100%;
  }
}
.portfolio-item:nth-child(2) {
  top: 0;
  left: 33.3319%;
  @include down-md {   //max-width 991px
    left: 49.3319%;
    width: 50%;
  }
  @include down-xsm {
    top: 16%;
    left: 0;
    width: 100%;
  }
}
.portfolio-item:nth-child(3) {
  top: 0;
  left: 66.6638%;
  @include down-md {
    top: 31%;
    left: 0;
    width: 50%;
  }
    @include down-sm {
      top: 45%;
    }
  @include down-xsm {
    top: 28%;
    width: 100%;
  }
  }

.portfolio-item:nth-child(4) {
  top: 38%;
  left: 0;
  @include down-md {
    top: 23%;
    left: 49.3319%;
    width: 50%;
  }
  @include down-sm {
    top: 17%;
  }
  @include down-xsm {
    left: 0;
    top: 48%;
    width: 100%;
  }
}
.portfolio-item:nth-child(5) {
  top: 28%;
  left: 33.3319%;
  @include down-md {
    width: 50%;
    top: 46%;
    left: 49.3319%;
  }
  @include down-sm {
    left: 0;
    top: 34%;
  }
  @include down-xsm {
    top: 60%;
    width: 100%;
  }
}
.portfolio-item:nth-child(6) {
  top: 47%;
  left: 66.6638%;
  @include down-md{
    top: 70%;
    left: 0;
    width: 50%;
  }
  @include down-sm {
    top: 52%;
  }
  @include down-xsm {
    top: 80%;
    width: 100%;
  }
}

/**PORTFOLIO ITEMS POSITION*/


.show-item {
  opacity: 1;
  transform: scale(1);
}
.hide-item {
  opacity: 0;
  transform: scale(0);
}