.feature-box-01 {
  overflow: hidden;
  z-index: 1;
  background: $px-dark;
  transition: ease background 0.35s;
  &:hover {
    background: $px-theme;
  }
}

.feature-box-01 .future-content {
  padding-left: 2rem;
  @include down-lg {
    padding-left: 1px;
  }
}


  .icon {
    width: 60px;
    height: 60px;
    span {
      line-height: 60px;
      font-size: 54px;
      color: #fff;
      text-align: center;
    }
  }

.media-body {
  flex: 1;
  padding-left: 15px;
}

