.grid {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 333;
  @include down-lg {
    right: 75px;
  }
}
.demo {
  font-size: 1.5rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 1.2rem;
}
.switch .theme-switcher {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider.round {
  border-radius: 34px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444457;
  transition: 0.4s;
}
.slider:before {
    position: absolute;
    content: "🌑";
    height: 0;
    width: 0;
    left: -10px;
    top: 10px;
    line-height: 0;
    transition: 0.4s;
}

.theme-switcher:checked + .slider:before {
  transform: translateX(26px);
}
.theme-switcher:checked + .slider:before {
  left: 4px;
  content: "🌞";
}
.slider.round:before {
  border-radius: 50%;
}


.lightTheme {
  background: $white;
  color: #555;
  transition: all .5s ease-in-out;
  .mob-header {
    background-color: $white;
  .logo-text {
    color: $px-bg-1;
    text-shadow: none;
  }
}
.slider {
  background-color: $px-theme;
}
.pp-section {
  background: $white;
}
.home-banner::after{
  background: $px-gray;
  z-index: 0;
}
.header-left {
  background: $px-gray;
}
.home-banner{
  .type-box h5{
    color: $px-black;
  }
  .font-alt{
    text-shadow: none;
    color: $px-black;
  }
  .type-box .lead{
    color: inherit;
  }
}
.px-btn, .px-btn-theme {
  box-shadow: 4px 4px $px-dark;
}
.about-text h3{
  color: $px-dark;
}
.media .count {
  color: $px-dark;
  text-shadow: none;
}
.nav-menu li a {
  color: $px-body-light;
}
.title h3 {
  color: $px-black;
  text-shadow: none;
  font-weight: 300;
}
.education-box {
  background: $px-gray;
  h6 {
    color: $px-dark !important;
  }
}
.skills-box h3 {
  color: $px-dark;
}
.skill-lt h6 {
  color: $px-dark !important;
  font-weight: 400;
}
.resume-row h6 {
  color: $px-dark !important;
}
.separator::after {
  background: $px-dark;
}
.resume-box {
  background: $px-gray;
}
.resume-row {
  border-bottom: 1px solid rgba($px-dark, 0.05);
  background: $px-gray;
}
#services {
  .feature-box-01 {
    background: $px-gray;
    h5 {
      color: $px-dark;
    }
    .icon span {
      color: $px-dark;
    }
  }
}

.testimonial-01 {
  background: $px-gray;
  .slide-description h6{
    color: $px-dark !important;
  }
}
.swiper-pagination-bullet{
    opacity: 0.5;
  &-active {
    opacity: 1;
    background: $px-gray;
}
}
.portfolio-filter li {
  color: $px-dark;
}

#contacts {
  .contact-info{
    background: $px-gray;
    ul li {
      font-size: 18px;
      color: inherit;
    }
    a {
      font-size: 18px;
      color: inherit;
    }
  }

  .contact-form {
    background: $px-gray;
    
    h4 {
      color: $px-dark;
    }
    .form-control {
      color: #0b0b13;
      border: 1px solid rgba(11, 11, 19, 0.3);
      background: #fff;
  }
  }
}

}