@import 'fonts';
@import './node_modules/bootstrap/scss/bootstrap.scss';
@import './variables.scss';
@import './button.scss';
// @import './color.scss';
// @import './mixin.scss';
// @import './navbar.scss';
@import './mob-header.scss';
@import './menu-mobile.scss';
@import './home.scss';
// @import './base.scss';

body {
  font-family: Montserrat, sans-serif;
  background: $px-bg-1;
  font-weight: 400;
  font-size: 16px;
  color: $white;
}

