@import 'fonts';
@import './node_modules/bootstrap/scss/bootstrap.scss';
@import './variables.scss';
@import './button.scss';
// @import './color.scss';
@import './media_mixin';
// @import './navbar.scss';
@import './mob-header.scss';
@import './header-left.scss';
@import './menu-mobile.scss';
@import './main.scss';
@import './home.scss';
@import './navigation.scss';
@import './about.scss';
@import './education.scss';
@import './experience.scss';
// @import './base.scss';

body {
  //font-family: Montserrat, sans-serif;
  font-family: "Rubik", monospac, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  background: $px-bg-1;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  //color: $white;
}

.section {
  padding: 100px 0;
  @include down-sm {
    padding-bottom: 60px;
  }
}

.pp-scrollable {
  overflow: auto;
}

.separator {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 1px;
    background: #fff;
    opacity: 0.1;
  }
  @include down-sm {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
h6 {
  color: $white !important;
}